{% extends 'base.html' %}
{% block content %}
    <h1>The Best Storage System within 4 meters</h1>

    <h2>Please input your items do be stored in the database</h2>

    <h2>Kamu menyimpan {{total}} item pada aplikasi ini</h2>

    <h5>items: </h5>

    <table>
        <tr>
            <th>Name</th>
            <th>Qty</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.Qty}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:edit_products' %}">
        <button>
            Edit Products
        </button>
    </a>
    
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    {% endblock content %}
