{% extends 'base.html' %}
{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3" >
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="Qty" class="col-form-label">Qty:</label>
                        <input type="number" class="form-control" id="Qty" name="Qty"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

    <style>
        h3 {
        font-family: consolas;
        font-size: 100%;
        text-align: center;
        margin: 30px;
        }
        h2 {
        font-family: consolas;
        font-size: 200%;
        text-align: center;
        margin: 30px;
        }
        table, th, td {
            
            margin-left: auto;
            margin-right: auto;
            font-family: consolas;
            font-size: 110%;
            margin: 30px;
        }
        


    </style>

    <h1>The Best Storage System within 4 meters
        <style>

            </style>
    </h1>

    <h2>
        Kamu menyimpan {{total}} item pada aplikasi ini
    </h2>

    <div class="row justify-content-center">
        <div class="col-auto">
          <table class="table table-responsive">
            <table id="product_table" style ="width:100%"; ></table>
            </table>
        </div>
    </div>

    <script>
        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }   
        async function refreshProducts() {
            document.getElementById("product_table").innerHTML = ""
            const products = await getProducts()
            let htmlString = `<tr>
                <th>Name</th>
                <th>Qty</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Edit Items</th>
            </tr>`
            products.forEach((item) => {
                htmlString += `\n<tr>
                <td>${item.fields.name}</td>
                <td>${item.fields.Qty}</td>
                <td>${item.fields.description}</td>
                <td>${item.fields.date_added}</td>
            </tr>` 
            })
            
            document.getElementById("product_table").innerHTML = htmlString
        }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct
    </script>

    
    <br />
    
    <p style="text-align: center;">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"  style="margin: 10px;">Add Product by AJAX</button>
        <a href="{% url 'main:logout' %}" class="btn btn-danger" role="button"  style="margin: 10px;">Logout</a>
    </p>

    <h3>

        Last login : {{last_login}}
    </h3>

    
    {% endblock content %}


