{% extends 'base.html' %}
{% block content %}
    <style>
        h2 {
        font-family: consolas;
        font-size: 200%;
        text-align: center;
        margin: 30px;
        }
        table {
            width:40%;
            margin-left: auto;
            margin-right: auto;
            font-family: consolas;
            font-size: 130%;
            margin: 30px;
        }
        table.center {
            margin-left: auto; 
            margin-right: auto;
        }

    </style>

    <h1>The Best Storage System within 4 meters
        <style>

            </style>
    </h1>

    <h2>

        Kamu menyimpan {{total}} item pada aplikasi ini
    </h2>


    <table class="center">
        <style >

        </style>
        <tr>
            <th>Name</th>
            <th>Qty</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.Qty}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <a href="#">
        <button>
            Edit Products
        </button>
    </a>
    
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    {% endblock content %}
